.container-fluid{
  padding-top: 100px;
  padding-right: 50px;
  padding-left: 50px;
}

h1{
  font-weight: bold;
  color: #2222ea;
  text-transform: uppercase;
  margin-bottom: 25px;
  font-size: 2rem;
}

.requestList{
  list-style: none;
  padding: 0;
}

.request{
  padding: 12px;
  box-shadow: 0 0 1px dimgray;
  font-size: 24px;
  cursor: pointer;
}

.request:hover{
  background-image: linear-gradient(to top, rgba(227, 227, 227, 0.29),#ffffff);
}

.request span{

}

.btn{
  border-radius: 3px;
  font-weight: 700;
  text-transform: uppercase;
}

#vide-image{
  width: 600px;
  position: absolute;
  top: 250px;
  left: 650px;
  opacity: 10%;
}

i{
  opacity: 75%;
}

i:hover{
  opacity: 100%;
}

.bi-send{
  color: #2222ea;
}
